$mobile-width: 640px

@media screen and (max-width: $mobile-width)
    #app
        .app-layout
            .app-aside
                display: none
            .app-header
                background-color: var(--el-menu-bg-color)
                color: var(--el-menu-text-color)
                .nav-container
                    height: 100%
                    display: flex
                    justify-content: space-around
                    align-items: center
            .content-container
                width: 100%
                padding: 0

@media screen and (min-width: $mobile-width)
    #app
        .app-layout
            .app-header
                display: none
